@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  color: #1d2f38;
  font-size: 1rem;
}

.none {
  display: none !important;
}

.container {
  max-width: 73.75rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

/*Header*/
.header {
  padding: 0.9375rem 0 1rem;
  border-bottom: 0.25rem solid rgba(83, 109, 122, 0.29);
}

.header-row {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 1.875rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
  cursor: pointer;

  font-size: 0.875rem;
  line-height: 1.25rem;
}

.nav-list li:last-child {
  margin-left: 16rem;
}

.nav-list :hover {
  color: rgb(221, 221, 33);
  transition: color 0.2s ease-in;
}

.nav-list a {
  margin-right: 0.5rem;
  align-items: center;
  color: #1d2f38;
}

.nav__toggle {
  display: none;
}

/*Template*/

.template {
  margin: 3.75rem 0 4.813rem;
}
.temlate-row {
  padding: 3.125rem 0 3.125rem 3.125rem;
  display: flex;
  background-color: #e3ebf1;
  border-radius: 10px;
}
.template-img {
  max-width: 31.25rem;
  margin-right: 3.125rem;
}
.template-content {
  max-width: 30.25rem;
}
.template__headline {
  margin-bottom: 0.5rem;
  color: #10843f;
  font-size: 1.125rem;
  line-height: 1.563rem;
}
.template__title {
  margin-bottom: 1.375rem;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 2.938rem;
  line-height: 3.25rem;
}
.template__text {
  margin-bottom: 1.563rem;
  color: #333333;

  font-size: 1.125rem;
  line-height: 1.5rem;
}

.template__text span {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.temlate__btn {
  display: inline-block;
  padding: 0.9375rem;
  border-radius: 0.313rem;
  background-color: #17a550;
  cursor: pointer;

  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.temlate__btn:active {
  position: relative;
  background-color: #4a996b;
  top: 1px;
}

/*Blog*/
.blog {
  margin-bottom: 6.25rem;
}

.blog__title {
  padding-bottom: 2.062rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 2.5rem;
}

.blog-row {
  display: flex;
  column-gap: 2.5rem;
}
.discription {
  max-width: 34.688rem;
}

.discription__img {
  padding-bottom: 0.563rem;
}
.discription__subtitle {
  padding-bottom: 0.813rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
}
.discription__text {
  padding-bottom: 4.625rem;

  font-size: 0.938rem;
  line-height: 1.25rem;
}
.discription__articles {
  font-size: 1rem;
  line-height: 1.25rem;
}

.preparation__content {
  display: flex;
  column-gap: 0.938rem;
  align-items: center;
}
.preparation__content-img {
  padding-bottom: 1.25rem;
}
.preparation__content-text {
  color: #1d2f38;
  font-size: 1.125rem;
  line-height: 1.563rem;
}

/*List-products*/

.list-products {
  margin-bottom: 6.25rem;
}

.list-products-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.938rem 2.5rem 1.938rem 1.875rem;
  background-image: url("./../img/list-products/img.png");
}

.list-products__content {
  display: flex;
  align-items: center;
}

.list-products__img {
  margin-right: 0.75rem;
}
.list-products__title {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
}
.list-products__btn {
  display: inline-block;
  padding: 0.938rem;
  border-radius: 0.313rem;
  background-color: #17a550;
  cursor: pointer;

  color: #ffffff;
  font-size: 0.938rem;
  line-height: 1.375rem;
}

.list-products__btn:active {
  position: relative;
  background-color: #4a996b;
  top: 1px;
}

/*Product-reviews*/

.product-reviews {
  margin-bottom: 6.25rem;
}

.product-reviews__title {
  padding-bottom: 2.063rem;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 2.38rem;
  line-height: 2.5rem;
}
.product-reviews-row {
  display: flex;
  column-gap: 2.5rem;
}
.product-reviews__card-1 {
  margin-bottom: 2.5rem;
  max-width: 22.313rem;
}
.product-reviews__card-img-1 {
  position: relative;
  width: 22.313rem;
  height: 12.5rem;
}
.product-reviews__card-img-1::before {
  position: absolute;
  content: "";
  width: 3.563rem;
  height: 1.875rem;
  left: 0.938rem;
  top: 0.938rem;
  background-image: url("./../img/product-reviews/lawns.png");
}

.product-reviews__card-subtitle-1 {
  padding: 1.5rem 0 0.813rem 1.563rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
}
.product-reviews__card-text-1 {
  padding-left: 1.563rem;
  padding-bottom: 2.438rem;

  font-size: 0.938rem;
  line-height: 1.25rem;
}

.product-reviews__card-2 {
  margin-bottom: 2.5rem;
  max-width: 22.313rem;
}
.product-reviews__card-img-2 {
  position: relative;
  width: 22.313rem;
  height: 12.5rem;
}
.product-reviews__card-img-2::before {
  position: absolute;
  content: "";
  width: 3.563rem;
  height: 1.875rem;
  left: 0.938rem;
  top: 0.938rem;
  background-image: url("./../img/product-reviews/garden.png");
}

.product-reviews__card-subtitle-2 {
  padding: 1.5rem 0 0.813rem 1.563rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
}
.product-reviews__card-text-2 {
  padding-left: 1.563rem;
  padding-bottom: 2.438rem;

  font-size: 0.938rem;
  line-height: 1.25rem;
}

.product-reviews__card-3 {
  margin-bottom: 2.5rem;
  max-width: 22.313rem;
}
.product-reviews__card-img-3 {
  position: relative;
  width: 22.313rem;
  height: 12.5rem;
}
.product-reviews__card-img-3::before {
  position: absolute;
  content: "";
  width: 3.563rem;
  height: 1.875rem;
  left: 0.938rem;
  top: 0.938rem;
  background-image: url("./../img/product-reviews/hedges.png");
}

.product-reviews__card-subtitle-3 {
  padding: 1.5rem 0 0.813rem 1.563rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
}
.product-reviews__card-text-3 {
  padding-left: 1.563rem;
  padding-bottom: 2.438rem;

  font-size: 0.938rem;
  line-height: 1.25rem;
}

.product-reviews-veiw {
  font-size: 1rem;
  line-height: 1.25rem;
}

/*Newsletter-signup*/

.newsletter-signup {
  margin-bottom: 6.25rem;
}

.newsletter-signup-row {
  display: flex;
  padding: 3.125rem;
  column-gap: 3.125rem;
  border-radius: 0.625rem;
  background-image: url("./../img/newsletter-signup/background.png");
}
.newsletter-signup__img {
  max-width: 31.25rem;
  height: 20.313;
}

.newsletter-signup__content-signup {
  display: flex;
  align-items: center;
  padding: 0.481rem 0 1.938rem;
}

.newsletter-signup__content-signup-subtitle {
  margin-left: 0.625rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
}
.newsletter-signup__content-text {
  max-width: 31.125rem;
  margin-bottom: 1.5rem;

  font-size: 1.125rem;
  line-height: 1.5rem;
}

.newsletter-signup-input {
  max-width: 31.25rem;
  margin-bottom: 1.938rem;
  padding: 0.938rem 26.56rem 0.938rem 1rem;
  background-color: #ffffff;
  border-radius: 0.313rem;
  border: 1px solid #aabcc5;

  font-size: 0.75rem;
  line-height: 1.25rem;
}

.newsletter-signup__content-submit {
  display: flex;
  align-items: center;
}
.submit-btn {
  display: inline-block;
  padding: 0.938rem 1.25rem 0.938rem 1.25rem;
  border-radius: 0.313rem;
  background-color: #ffc728;

  color: #000;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.submit-btn:active {
  position: relative;
  background-color: #f1d891;
  color: #000;
  top: 1px;
}

.newsletter-signup__content-submit-text {
  margin-left: 0.625rem;

  color: #536d7a;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

/*Footer*/

.footer {
  background-color: #f7f9fa;
  padding-bottom: 1.25rem;
}

.footer-row-top {
  display: flex;
  column-gap: 2.5rem;
  padding: 3.75rem 0 3.75rem;
}
.footer-card-1 {
  width: 22.292rem;
  height: 25.38rem;
}

.footer-card-1__logo {
  padding-bottom: 0.688rem;
}

.footer-card-1__networks {
  padding-bottom: 1.188rem;
}

.footer-card-1__text {
  max-width: 19.125rem;

  font-size: 1rem;
  line-height: 1.25rem;
}

.footer-card-1__text span {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.footer-card-2 {
  width: 22.292rem;
  height: 25.38rem;
}

.footer-card-2__subtitle {
  padding-bottom: 0.75rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
}
.footer-card-2__content {
  display: flex;
  column-gap: 9px;
  padding-bottom: 1.25rem;
  align-items: center;
}

.footer-card-2__content-img {
  width: 8.688rem;
  height: 6.25rem;
}

.footer-card-2__content-text {
  width: 11.938rem;

  line-height: 1.125rem;
}

.footer-card-3 {
  width: 22.292rem;
  height: 25.38rem;
}

.footer-card-3__subtitle {
  margin-bottom: 0.813rem;

  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.188rem;
}

.form {
  display: inline-flex;
  width: 22.313rem;
  height: 3.125rem;
  margin-bottom: 1.25rem;
}

.footer-input {
  width: 78%;

  background-color: #ffffff;
  border-radius: 0.313rem 0 0 0.313rem;
  border: 1px solid #768f9c;
  border-right: none;
}

.btn-input {
  width: 22%;
  padding: 0.875rem 1.25rem;
  background-color: #768f9c;
  float: right;
  border-radius: 0 0.313rem 0.313rem 0;

  color: #ffffff;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.btn-input:active {
  position: relative;
  background-color: #a6adb1;
  color: #ffffff;
  top: 1px;
}

.footer-card-3__nav {
  margin-bottom: 1.313rem;
}

.footer-card-3__nav-list li {
  padding-bottom: 0.438rem;
}

.footer-card-3__nav-list a {
  color: #1d2f38;

  line-height: 1.25rem;
}

.footer-card-3__nav-list a:hover {
  color: #aabcc5;
  transition: color 0.2s ease-in;
}

.footer-card-3__brand-name {
  border-top: 1px solid #536d7a;
  padding: 1.25rem 0.688rem;

  line-height: 1.25rem;
}

.footer-row-bottom {
  padding-top: 1.375rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #536d7a;
}

.footer-row-bottom__list {
  display: flex;
  column-gap: 0.625rem;

  font-size: 0.75rem;
  line-height: 1.25rem;
}

.footer-row-bottom__design {
  display: flex;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

/*Menu Icon*/ /*кнопка меню мобильной версии*/
.menu-icon-wrapper {
  /*   background: red; */
  width: 2.063rem;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 2.063rem;
  height: 0.25rem;
  background-color: #000000;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -0.5rem;
  content: "";
  width: 2.063rem;
  height: 0.25rem;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 0.5rem;
  content: "";
  width: 2.063rem;
  height: 0.25rem;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  background: #000000;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  background: #000000;
}

/*Media*/

@media (max-width: 1200px) {
  .nav-list li:last-child {
    margin-left: 2.5rem;
  }
}

@media (max-width: 999px) {
  /*Nav-mobile*/
  .header-row {
    justify-content: space-between;
  }

  .nav__toggle {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .nav--mobile {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    align-items: center;
    flex-direction: column;
    padding-top: 2.875rem;

    background-color: #ffffff;
  }

  .nav--mobile .nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3.75rem;
  }

  .nav--mobile .nav-list li {
    margin: 0;
    font-weight: 600;
    font-size: 2.125rem;
    color: #000000;
  }

  .nav--mobile .nav-list li:hover {
    color: rgb(221, 221, 33);
    transition: color 0.2s ease-in;
  }

  .nav--mobile .nav__toggle {
    position: fixed;
    top: 2.2rem;
    right: 1.7rem;
  }

  /*Sections*/
  .product-reviews-row {
    display: flex;
    flex-direction: column;
  }

  .product-reviews__card-1 {
    margin-bottom: 0.5rem;
  }

  .product-reviews__card-2 {
    margin-bottom: 0.5rem;
  }
  .product-reviews__card-3 {
    margin-bottom: 0.5rem;
  }

  .newsletter-signup-row {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .footer-row-top {
    display: flex;
    flex-direction: column;

    padding: 2rem 0 2rem;
  }

  .footer-card-1 {
    height: 15rem;
  }
}

@media (max-width: 900px) {
  .temlate-row {
    padding: 2rem 0 2rem 2rem;
  }

  .template-img {
    max-width: 25rem;
  }

  .template__title {
    font-size: 2rem;
  }

  .template-content {
    max-width: 25rem;
  }

  .blog-row {
    display: flex;
    flex-direction: column;
  }

  .discription__text {
    padding-bottom: 2.5rem;
  }

  .list-products-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .temlate-row {
    padding: 1.5rem 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .template-img {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .template {
    margin: 2rem 0 3rem;
  }

  .blog {
    margin-bottom: 3rem;
  }

  .list-products {
    margin-bottom: 3rem;
  }

  .product-reviews {
    margin-bottom: 3rem;
  }

  .product-reviews__card-subtitle-1 {
    padding: 0.8rem 0 0.813rem 1.563rem;
  }

  .product-reviews__card-subtitle-2 {
    padding: 0.8rem 0 0.813rem 1.563rem;
  }

  .product-reviews__card-subtitle-3 {
    padding: 0.8rem 0 0.813rem 1.563rem;
  }

  .product-reviews__card-text-3 {
    padding-bottom: 1.5rem;
  }

  .newsletter-signup {
    margin-bottom: 3rem;
  }

  .newsletter-signup-input {
    max-width: 20rem;
    padding: 0.938rem 15rem 0.938rem 1rem;
  }

  .footer-row-top {
    padding: 2rem 0 2rem;
  }

  .footer-row-bottom {
    padding-top: 1.375rem;
    display: flex;
    flex-direction: column;
  }
}
